<%
# frozen_string_literal: true

# This file is part of the Plugin Redmine Table Calculation.
#
# Copyright (C) 2021 - 2022 Liane Hampe <liaham@xmera.de>, xmera.
#
# This plugin program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>

<%= error_messages_for 'calculation' %>

<%= tag.div class: 'box tabular settings' do %>
  <%= content_tag :p, f.text_field(:name, size: 30, required: true) %>
  <%= content_tag :p, f.text_area(:description, size: '5x5') %>
  <%= tag.p do %>
    <%= label(:calculation, :table_id) do %>
				<%= l(:label_table) %><span class="required"> *</span>
		<% end %>
    <%= f.collection_select(:table_id, Table.all.collect, :id, :name, include_blank: "--- #{l(:actionview_instancetag_blank_option)} ---") %>
  <% end %>
  <%= content_tag :p, f.select(:formula, TableFormula.operators.collect {|k,v| [l(v),k] }, {required: true} ,{ include_blank: "--- #{l(:actionview_instancetag_blank_option)} ---" }) %>
  <%= tag.p do %>
    <%= label(:calculation, :field_ids) do %>
    		<%= l(:label_field_plural) %><span class="required"> *</span>
		<% end %>
    <%= f.grouped_collection_select(:field_ids, Table.all, :columns, :name, :id, :name, { include_blank: "--- #{l(:actionview_instancetag_blank_option)} ---" }, { multiple: true }) %>
    <a href="#" data-expands="#calculation_field_ids"><span class="toggle-multiselect icon-only icon-toggle-plus"></span></a>
  <% end %>
  <%= content_tag :p, f.check_box(:inheritable) %>
  <%= tag.fieldset do %>
    <%= content_tag :legend, l(:text_calculate_over) %>
    <%= content_tag :p, f.check_box(:columns) %>
  <% end %>
<% end %>

<%= javascript_tag do %>
$("a[data-expands]").click(function(e){
  e.preventDefault();
  var target = $($(this).attr("data-expands"));
  if (target.attr("multiple")) {
    $(this).find('span').switchClass('icon-toggle-minus', 'icon-toggle-plus');
    target.attr("multiple", false);
    target.find("option[value=all]").show();
  } else {
    $(this).find('span').switchClass('icon-toggle-plus', 'icon-toggle-minus');
    target.attr("multiple", true);
    target.find("option[value=all]").attr("selected", false).hide();
  }
});
<% end %>
