<%
# frozen_string_literal: true

# This file is part of the Plugin Redmine Table Calculation.
#
# Copyright (C) 2020-2023 Liane Hampe <liaham@xmera.de>, xmera Solutions GmbH.
#
# This plugin program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>

<% if User.current.allowed_to?(:add_spreadsheet, @project) %>
  <%= tag.div class: 'contextual' do %>
    <%= link_to(l(:label_spreadsheet_new), new_project_spreadsheet_path(@project), :class => 'icon icon-add')  %>
    <%= actions_dropdown do %>
      <%= link_to l(:label_calculation_details),
          results_project_spreadsheet_path(@project, id: @spreadsheet),
          class: 'icon icon-zoom-in' if defined?(FinalResultTable) && User.current.allowed_to?(:view_spreadsheet_results, @project) && @spreadsheet.calculation_configs? %>
      <%= link_to(l(:label_spreadsheet_configuration),
          edit_project_spreadsheet_path(@project),
          class: 'icon icon-settings') if User.current.allowed_to?(:configure_spreadsheet, @project)  %>
      <%= delete_link project_spreadsheet_path(@project, id: @spreadsheet) if User.current.allowed_to?(:destroy_spreadsheet, @project)%>
    <% end %>
  <% end %>
<% end %>

<%= title l(:label_single_spreadsheet), @spreadsheet.name %>

<p class="author">
<%= authoring @spreadsheet.created_on, @spreadsheet.author %>.
<% if @spreadsheet.created_on != @spreadsheet.updated_on %>
<%= l(:label_updated_time, time_tag(@spreadsheet.updated_on)).html_safe %>.
<% end %>
</p>

<%= tag.p do %>
  <%= tag.em textilizable @spreadsheet.description %>
<% end %>

<%= render_spreadsheet_result_table(@spreadsheet) if User.current.allowed_to?(:view_spreadsheet_results, @project) %>
<%= render_spreadsheet_table(@spreadsheet) if User.current.allowed_to?(:view_spreadsheet, @project) %>

<%= render partial: 'sidebar' %>

<% html_title @spreadsheet.name %>