<%
# frozen_string_literal: true

# This file is part of the Plugin Redmine Table Calculation.
#
# Copyright (C) 2021 Liane Hampe <liaham@xmera.de>, xmera.
#
# This plugin program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>

<% # %>
  <%= tag.div class: 'contextual' do %>
    <%= link_to(l(:label_spreadsheet_edit), edit_project_spreadsheet_path(@project), class: 'icon icon-settings')  %>
  <% end %>
<% # %>

<%= tag.h2 @spreadsheet.name %>

<p class="author">
<%= authoring @spreadsheet.created_on, @spreadsheet.author %>.
<% if @spreadsheet.created_on != @spreadsheet.updated_on %>
<%= l(:label_updated_time, time_tag(@spreadsheet.updated_on)).html_safe %>.
<% end %>
</p>

<%= tag.p do %>
  <%= tag.em @spreadsheet.description %>
<% end %>

<%= render_spreadsheet_result_table(@spreadsheet) %>
<%= render_spreadsheet_table(@spreadsheet) %>

<%= render partial: 'sidebar' %>

<% html_title @spreadsheet.name %>